
@font-face {
  font-family: FuturaNewBook;
  src: url(../fonts/FuturaNewBook.otf);
}

@font-face {
  font-family: 'FuturaNewLight';
  src: url(../fonts/FuturaNewLight.otf);
}

@font-face {
  font-family: 'FuturaNewMedium';
  src: url(../fonts/FuturaNewMedium.otf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {

}


.container {
  width: 50%;
  background: #d5d5d5;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 200px;
}

h1.title {
  margin: 0 auto;
  text-align: center;
}

p.calculator-title {
  margin: 0 auto;
  text-align: center;
}

.calculator {
  border: 1px solid #71d185;
  height: 100%;
  overflow:hidden;
}

.calculator .sidebar-left {
  width: 59.1666667%;
  float: left;
  background: #c1c1c1;
  padding-top: 1em;
}

.calculator .sidebar-right {
  float: left;
  height: 100px;
  width: 40.8333333%;
  background: #c13d5e;
}

div.cols-price {
  padding: 2em;
}

div.one-col {
  float: left;
  display: inline;
}

.col-left {
  margin-right: 10px;
}

.price-block {
  width: 5em;
  background: #000000;
  height: 50px
}

div.fund {
  overflow:hidden;
  margin-top: 1em;
  padding-left: 2em;
}

.fund p {
  margin-bottom: 1em;
}

.fund span {
  float: left;
  margin-right: 1em;
}

div.sum {
  overflow:hidden;
  margin-top: 3em;
  background: #808080;
  padding-left: 2em;
  padding-top: 2em;
}

.sum p {
  float: left;

}

.sum span {
  float: left;
  margin-left: 7em;
}

.sum-slider {
  margin-top: 4em;
  margin-bottom: 4em;
  margin-right: 2em;
}

#input-sum {
  border-radius: 15px 15px 15px 15px;
  height: 30px;
  text-align: center;
}

div.time {
  overflow:hidden;
  background: #E2E2E2;
  padding-left: 2em;
  padding-top: 2em;
}

.time label {
display: inline-table;
cursor: pointer;
position: relative;
padding-left: 25px;
margin-right: 15px;
font-size: 13px;
background: #ffffff;
text-align: center;
margin: 0 auto;
/* height: 24px; */
padding: 7px;
width: 67px;
border-radius: 17px 17px 17px 17px;
}

input[type=radio]:checked + label {
    background: #D1C3C3;
}

.time input[type=radio] {
  display: none;
}

.time label:before {
  border-radius: 8px;
}

.time-buttun {
  margin-top: 10px;
  margin-bottom: 20px;
}


/**
*/


.noUi-target,
.noUi-target * {
-webkit-touch-callout: none;
-webkit-user-select: none;
-ms-touch-action: none;
-ms-user-select: none;
-moz-user-select: none;
-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.noUi-base {
	width: 100%;
	height: 100%;
	position: relative;
}
.noUi-origin {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
}
.noUi-handle {
	position: relative;
	z-index: 1;
  cursor: move;
}
.noUi-stacking .noUi-handle {
/* This class is applied to the lower origin when
   its values is > 50%. */
z-index: 10;
}
.noUi-stacking + .noUi-origin {
  /* Fix stacking order in IE7, which incorrectly
     creates a new context for the origins. */
  *z-index: -1;
}
.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 4px;
}
.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
  left: -7px;
  top: -8px;
  border-radius: 100%;
}
.noUi-horizontal.noUi-extended {
  padding: 0 15px;
}
.noUi-horizontal.noUi-extended .noUi-origin  {
  right: -15px;
}
.noUi-vertical {
  width: 18px;
}
.noUi-vertical .noUi-handle {
  width: 20px;
  height: 20px;
  left: -10px;
  top: -6px;
  border-radius: 100%;
}
.noUi-vertical.noUi-extended {
  padding: 15px 0;
}
.noUi-vertical.noUi-extended .noUi-origin  {
  bottom: -15px;
}

/* Styling;
 */
.noUi-background {
  background: #ffffff;
  box-shadow: inset 0 1px 1px #ffffff;
}
.noUi-connect {
  background: #008CFF;
  box-shadow: inset 0 0 3px rgba(51,51,51,0.45);
  -webkit-transition: background 450ms;
  transition: background 450ms;
}
.noUi-origin {
  border-radius: 10px;
}

.noUi-target {
  border-radius: 10px;
  border: 0 solid #ffffff;
}
.noUi-target.noUi-connect {
  box-shadow: inset 0 0 3px #ffffff, 0 3px 6px -5px #BBB;
}

/* Handles and cursors;
 */
.noUi-dragable {
  cursor: w-resize;
}
.noUi-vertical .noUi-dragable {
  cursor: n-resize;
}
.noUi-handle {
  border: 1px solid #B9C0CB;
  border-radius: 100%;
  background: #FFFFFF;
  cursor: default;
}
.noUi-active {

}

/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: rgba(232, 231, 230, 0);
  left: 14px;
  top: 6px;
}
.noUi-handle:after {
  left: 17px;
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}
.noUi-vertical .noUi-handle:after {
  top: 17px;
}

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #B8B8B8;
}
[disabled] .noUi-handle {
  cursor: not-allowed;
}


.noUi-value {
  width: 47px;
  position: absolute;
  text-align: center;
}

.noUi-marker {
  display: none;
}

.noUi-pips-horizontal {
  padding: 0px 0;
  height: 42px;
  top: -89%;
  left: 0;
  width: 100%;
}